body {
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  color: maroon;
  font-weight: bold;
}

li {
  cursor: pointer;
  width: fit-content;
}

li:active {
  background-color: aqua;
}

#location-results {
  width: 25%;
  height: 50%;
  position: fixed;
  top: 100px;
  right: 300px;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  padding: 30px;
}
